.wapers-body {
  font-size: 0;
}
.wapers-item {
  display: inline-block;
  width:25%;
  padding:20px;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 1250px) {
  .wapers-item {
    width:20%;
  }
}
@media screen and (min-width: 1500px) {
  .wapers-item {
    width:16.666%;
  }
}
@media screen and (min-width: 1750px) {
  .wapers-item {
    width:12.5%;
  }
}
@media screen and (min-width: 2100px) {
  .wapers-item {
    width:10%;
  }
}
@media screen and (min-width: 2500px) {
  .wapers-item {
    width:8.333%;
  }
}
@media screen and (min-width: 2800px) {
  .wapers-item {
    width:6.666%;
  }
}
@media screen and (min-width: 3200px) {
  .wapers-item {
    width:5%;
  }
}
.wapers-item:hover {
  background:#F8F8F8;
}
.wapers-item::before {
  content: "";
  display: block;
  width:38px;
  height:38px;
  background:url(../../assets/waper-default.png) no-repeat center center;
  background-size:100% 100%;
  position: absolute;
  left:50%;
  top:50%;
  margin-left:-19px;
  margin-top:-19px;
  z-index: 1;
}
.wapers-item.loading::before {
  background:none;
}
.wapers-item.loading .icon-loading {
  width:40px;
  height:40px;
  margin-top:-20px;
  margin-left:-20px;
}
.waper-box {
  position: relative;
}
.waper-box img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  z-index: 2;
}

.select[name="model"] .dropdown {
  width:265px;
}
.select[name="model"] .dropdown>a {
  text-align: left;
  width: 122px;
  text-indent: 10px;
}
.select[name="model"] .dropdown>a:nth-child(2n) {
  width: 121px;
}

.searchTitle {
  top:86px;
}